@use 'features/styles/theme/theme-mixins' as *;

.flex_container {
    @include breakpoints(tablet) {
        align-items: center;
        margin-left: 12rem;
    }
}
.item_image {
    @include breakpoints(desktop) {
        margin-left: 10rem;
        width: 60%;
    }
}
.item_box {
    @include breakpoints(desktop) {
        width: 40%;
    }
}
